#circle {
  border: solid, 10px, rgb(166, 165, 165);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 20vw;
  user-select: none;
}

#taskCount {
  font-size: 1000%;
  color: rgb(58, 58, 58);
}

p{
  margin-top: 10px;
  font-size: 200%;
}
