mat-toolbar {
  display: flex;
  align-items: center; /* Centraliza verticalmente os itens */
  justify-content: center; /* Centraliza os itens principais */
  position: relative; /* Permite posicionamento absoluto dos elementos filhos se necessário */
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.login-options {
  position: absolute;
  right: 0;
  margin-right: 0.5%;
  margin-left: 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-container {
  position: absolute;
  left: 0;
  width: 24%;
  height: 100%;
}
.menu-container button {
  border-radius: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  text-align: left;
  background-color: transparent;
}

.menu-container button:hover {
  cursor:pointer;
}

.menu-button-content {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.menu-text {
  font-size: 20px;
  margin-left: 3px;
}

#title-click {
  border: none;
  background-color: transparent;
  padding: 20px;
}
#title-click:hover {
  cursor:pointer;
}

.loggedMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  user-select: none;
}

.username_mobile {
  display: inline-block;    /* Define o contêiner como inline-block para truncamento */
  max-width: 100px;         /* Define o tamanho máximo do contêiner, ajuste conforme necessário */
  white-space: nowrap;      /* Não permite que o texto quebre para a próxima linha */
  overflow: hidden;         /* Esconde o texto que exceder o tamanho do contêiner */
  text-overflow: ellipsis;  /* Adiciona reticências ao final do texto quando ele é truncado */
}

@media only screen and (max-width: 600px) {

}


