<section class="login-section" #loginForm>
  <form action="">
    <div class="login-header">
      <h3>Register</h3>
    </div>
    <section class="form-content">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cell</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm Email</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput>
      </mat-form-field>
    </section>
    <div class="login-footer">
      <button mat-flat-button>Continue</button>
      <a href="">forgot password?</a>
    </div>
  </form>
</section>


