<h1 mat-dialog-title>New Task</h1>

<mat-dialog-content>
  <mat-card *ngIf="creationForm">
    <div class="task-card-container">
      <form action="" [formGroup]="creationForm">
        <mat-card-header>
          <mat-card-title *ngIf="!isEditingName" (click)="toggleEdit('name')">
            {{ creationForm.get('name')?.value || 'Name*' }}
          </mat-card-title>
          <input #nameInput id="nameinput" *ngIf="isEditingName" formControlName="name"
                 (blur)="saveEdit('name')"
                 (keydown.enter)="saveEdit('name')"
                 placeholder="Name"
                 maxlength="20"/>
        </mat-card-header>

        <mat-card-content>
            <mat-card-title>Description</mat-card-title>
            <textarea id="desc" formControlName="description"></textarea>
        </mat-card-content>

        <mat-card-footer>
          <mat-form-field>
            <mat-label>Term</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="termDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Term time</mat-label>
            <input matInput [ngxTimepicker]="timePicker" formControlName="termTime">
            <ngx-material-timepicker #timePicker class="custom-timepicker"></ngx-material-timepicker>
          </mat-form-field>
        </mat-card-footer>
      </form>


    </div>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button (click)="onSubmit()">Create</button>
</mat-dialog-actions>
