<mat-dialog-content>
  <section>
    <button mat-flat-button (click)="loginAsRecruiter()" matDialogClose>Entrar como recrutador</button>
  </section>
  <p>Ao clicar nesse botão você ira logar em uma conta que eu deixei pronta com algumas tasks para você conseguir ver
    as estatistícas, dentre outras funcionalidades sem ter que criar e testar tudo do zero. Mas se for de seu agrado, você também pode
    fechar essa aba aqui e criar uma conta do zero, obrigado desde já.
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button matDialogClose>Close</button>
</mat-dialog-actions>
