<mat-card>
  <div class="task-card-container">
      <mat-card-header>
          <mat-card-title> {{ taskName() }} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          {{ taskDesc() }}
      </mat-card-content>
      <mat-card-actions align="end">
        <div class="modifier-buttons">
          <button mat-stroked-button color="warn"><mat-icon class="mat-18">delete</mat-icon></button>
          <button mat-stroked-button><mat-icon class="mat-18">edit</mat-icon></button>
        </div>
        <button mat-flat-button><mat-icon class="mat-18">check_small</mat-icon></button>
      </mat-card-actions>
      <mat-card-footer>
        <p>term in: {{ getTermFormatted(taskTerm()) }}</p>
        <p>created: {{ taskCreated() }}</p>
      </mat-card-footer>

    </div>
</mat-card>
