<mat-sidenav-container>
  <mat-sidenav mode="over" align="start" opened>
    <mat-toolbar>
      <div class="icon-text-align">
        <button mat-button class="header-button">
          <mat-icon class="header-icon">menu</mat-icon>
        </button>
        <span>Menu</span>
      </div>
    </mat-toolbar>


    <mat-list dense>

      <button mat-button class="nav-button">
        <mat-list-item>
          <div class="icon-text-align">
            <mat-icon class="list-icon">task</mat-icon>
            <span>My Tasks</span>
          </div>
        </mat-list-item>
      </button>

      <button mat-button class="nav-button">
        <mat-list-item>
          <div class="icon-text-align">
            <mat-icon class="list-icon">alarm</mat-icon>
            <span>Pomodoro</span>
          </div>
        </mat-list-item>
      </button>

      <button mat-button class="nav-button">
      <mat-list-item>
        <div class="icon-text-align">
          <mat-icon class="list-icon">trending_up</mat-icon>
          <span>Statistics</span>
        </div>
      </mat-list-item>
      </button>

    </mat-list>
  </mat-sidenav>
</mat-sidenav-container>
