<mat-sidenav-container>
  <mat-sidenav mode="over" align="start" [opened]="isSideBarCompacted" (closed)="isSideBarChange.emit()">
    <mat-list dense>

      <button [routerLink]="'/my-tasks'" mat-button class="nav-button">
        <mat-list-item>
          <div class="icon-text-align">
            <mat-icon class="list-icon">task</mat-icon>
            <span>My Tasks</span>
          </div>
        </mat-list-item>
      </button>

      <button [routerLink]="'/pomodoro'" class="nav-button">
        <mat-list-item>
          <div class="icon-text-align">
            <mat-icon class="list-icon">alarm</mat-icon>
            <span>Pomodoro</span>
          </div>
        </mat-list-item>
      </button>

      <button [routerLink]="'/statistics'" mat-button class="nav-button">
      <mat-list-item>
        <div class="icon-text-align">
          <mat-icon class="list-icon">trending_up</mat-icon>
          <span>Statistics</span>
        </div>
      </mat-list-item>
      </button>

    </mat-list>
  </mat-sidenav>
</mat-sidenav-container>
