<section *ngIf="authService.getToken() !== null; else loggedOut" class="task-content">

  <div class="tasks-container">
    <ng-container *ngFor="let task of paginatedTasks; trackBy: trackByTaskTerm">
      <ng-container *ngIf="task; else loading">
        <app-card
          class="task-container"
          [task]="task"
        >
        </app-card>
      </ng-container>
    </ng-container>
  </div>

  <div class="no-content-container">
  </div>

  <mat-paginator #paginator
                 class="paginator"
                 (page)="handlePageEvent($event)"
                 [length]="length"
                 [pageSize]="pageSize"
                 [showFirstLastButtons]="showFirstLastButtons"
                 [hidePageSize]="hidePageSize"
                 [pageIndex]="pageIndex"
                 aria-label="Select page">
  </mat-paginator>

</section>

<ng-template #loggedOut>
</ng-template>

<ng-template #loading>
</ng-template>
