.tasks-container {
  padding: 20px;
  display: flex;
  align-items : center;
  flex-direction: column;
}

.paginator {
  justify-content: center;
  display: flex;
}
.mat-mdc-paginator-page-size {
  display: none;
}
