<section *ngIf="authService.getToken() !== null; else loggedOut" class="task-content">

  <div class="tasks-container" *ngIf="screenWidth >= 740">
    <div class="creation-container">
      <button mat-flat-button class="create-button" (click)="onCreate()">Create Task</button>
    </div>
      <ng-container class="task-item" *ngFor="let task of paginatedTasks; trackBy: trackByTaskTerm" >
        <ng-container *ngIf="task; else loading">
          <app-card
            class="task"
            [task]="task"
          >
          </app-card>
        </ng-container>
      </ng-container>
  </div>

  <div class="tasks-mobile-container" *ngIf="screenWidth <= 740">
    <div class="creation-container">
      <button mat-flat-button class="create-button"><mat-icon class="mat-18">add</mat-icon></button>

      <ng-container class="task-item" *ngFor="let task of paginatedTasks; trackBy: trackByTaskTerm">
        <ng-container *ngIf="task; else loading">
          <app-mobile-card
            class="task"
            [task]="task"
          >
          </app-mobile-card>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="no-content-container">
  </div>

  <mat-paginator #paginator
                 class="paginator"
                 (page)="handlePageEvent($event)"
                 [length]="length"
                 [pageSize]="pageSize"
                 [showFirstLastButtons]="showFirstLastButtons"
                 [hidePageSize]="hidePageSize"
                 [pageIndex]="pageIndex"
                 aria-label="Select page">
  </mat-paginator>

</section>

<ng-template #loggedOut>
  <span>Please loggin to see your tasks</span>
</ng-template>

<ng-template #loading>
</ng-template>
