.container {
  position: relative;
  height: auto;
  min-height: 100%;
}

app-side-bar {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.content-container {
  z-index: 1;
  text-align: center;
}
.timepicker-backdrop-overlay {
  z-index: 9999;
}

.timepicker-overlay{
  z-index: 9999;
}
