<table>
  <tr>
    <td>
      <ngx-charts-bar-horizontal [results]="monthHours"
      (window:resize)="onResize($event)"
      [view]="view"
      [scheme]="colorScheme"
      [schemeType]="schemeType"
      [gradient]="gradient"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [legend]="legend"
      [yAxisLabel]="yAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [legendTitle]="legendTitle"
      [legendPosition]="legendPosition"
      [animations]="animations"
      [showGridLines]="showGridLines"
      [showDataLabel]="showDataLabel"
      [barPadding]="barPadding"
      [tooltipDisabled]="tooltipDisabled"
      [roundEdges]="roundEdges"></ngx-charts-bar-horizontal>
    </td>
  </tr>
  <tr>
    2024
  </tr>
</table>
