.welcome, .todolist, .pomodoro, .statistic {
  width: 60%;
  margin: 200px;
  margin-top: 0;
}

.home p, .home ul > li {
  text-align: left;
}

.home {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  font-family: 'Ubuntu';
}

.welcome_img, .pomodoro_img {
  float: left;
  width: 200px;
  margin: 0 15px 15px 0;
}

.todolist_img, .statistic_img {
  float: right;
  width: 200px;
  margin: 0 15px 15px 0;
  padding-left: 20px;
}

.statistic{
  margin-bottom: 0  ;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);
}

