<section class="home">
  <section class="welcome">
    <h1>Introdução</h1>
    <div>
      <img src="assets/imgs/p-high-resolution-logo-black-transparent.png" alt="" width="500px" class="welcome_img">
      <p>Seja muito bem-vindo à minha aplicação de produtividade! O objetivo deste software é proporcionar uma experiência completa de organização e gerenciamento pessoal para o usuário, oferecendo ferramentas que auxiliam na gestão eficiente de suas tarefas e atividades diárias. Mais do que apenas uma solução para organização, este sistema se destaca por fornecer métricas mensais detalhadas, permitindo o acompanhamento preciso da constância, efetividade e eficiência em suas rotinas.</p>

      <p>A ideia central é oferecer uma visão clara de seu progresso ao longo do tempo, ajudando a identificar padrões de produtividade e áreas de melhoria. Com essa abordagem, você poderá se manter motivado e focado em alcançar seus objetivos com mais assertividade. O sistema inclui uma série de componentes e funcionalidades, que serão descritos a seguir, cada um projetado para otimizar sua experiência e tornar a gestão de tarefas mais intuitiva e eficiente.</p>

      <p> Explore todas as funcionalidades e descubra como este software pode transformar sua forma de organizar o dia a dia!</p>
    </div>
    <hr>
  </section>
  <section class="todolist">
    <hr>
    <h1>Lista de tarefas</h1>
    <img src="assets/imgs/todolist.png" alt="" class="todolist_img">

    <p> O Componente de Listagem de Tarefas exibe uma lista dinâmica de tarefas que inclui um temporizador para contar o tempo de execução de cada tarefa. As tarefas possuem indicadores visuais que mostram se estão concluídas ou em andamento. Quando uma tarefa é finalizada, o tempo total de execução é armazenado automaticamente, permitindo o histórico e revisão posterior.</p>

    <p><b>Funcionalidades adicionais incluem:</b></p>

    <p><ul>
      <li><b>Edição</b>: O usuário pode modificar os detalhes de uma tarefa, como o nome, descrição ou prazo, mesmo após ter sido iniciada.</li>
      <li><b>Remoção</b>: Tarefas podem ser excluídas permanentemente da lista.</li>
      <li><b>Indicação de Conclusão</b>: Um botão ou controle marca a tarefa como finalizada e armazena o horário de conclusão para referência futura.</li>
    </ul>
    <p>Este componente oferece uma interface interativa e intuitiva, permitindo ao usuário gerenciar eficientemente o ciclo de vida das tarefas, além de manter um registro preciso de cada tarefa concluída.</p>

    <hr>
  </section>
  <section class="pomodoro">
    <hr>
    <h1>Pomodoro</h1>
      <p>O Componente de Pomodoro Clássico implementa a técnica Pomodoro, um método de gerenciamento de tempo que divide o trabalho em blocos focados de 25 minutos (conhecidos como "Pomodoros"), seguidos por intervalos curtos de descanso. Após a conclusão de quatro ciclos, um intervalo mais longo é sugerido.</p>
      <img src="assets/imgs/pomodoro.png" alt="" class="pomodoro_img">
      <p><b>Funcionalidades principais:</b></p>

      <ul>
        <li><b>Temporizador de 25 Minutos</b>: Inicia automaticamente uma contagem regressiva de 25 minutos de trabalho focado.</li>
        <li><b>Intervalos Curto e Longo</b>: Ao finalizar o ciclo de trabalho, o temporizador passa para um intervalo curto (5 minutos) ou, após quatro ciclos, para um intervalo longo (15-30 minutos).</li>
        <li><b>Pausar/Retomar</b>: O usuário pode pausar ou retomar o temporizador a qualquer momento.</li>
        <li><b>Histórico de Ciclos</b>: O componente armazena e exibe o número de Pomodoros completados para ajudar no acompanhamento de produtividade.</li>
      </ul>

      <p>
        O pomodoro guarda seus tempos para uma estatística do tempo que você dedica ao decorrer dos meses.
      </p>
      <hr>
  </section>
  <hr>
  <section class="statistic">
    <hr>
    <h1>Estatistícas</h1>
    <p>O Componente de Estatísticas Mensais de Tarefas fornece uma visão abrangente da produtividade ao longo dos meses, apresentando dados detalhados sobre as tarefas completadas, pendentes e atrasadas.</p>

    <img src="assets/imgs/chart-646.png" alt="" class="statistic_img">
    <p><b>Funcionalidades principais:</b></p>

    <ul>
      <li><b>Total de Tarefas Feitas</b>: Mostra o número total de tarefas concluídas em cada mês.</li>
      <li><b>Comparativo de Tarefas Feitas x A Fazer x Atrasadas</b>: Apresenta gráficos comparativos entre tarefas já finalizadas, aquelas que ainda precisam ser feitas e as que estão atrasadas, permitindo ao usuário uma rápida visualização do progresso e dos gargalos.</li>
      <li><b>Progresso Mensal</b>: Exibe o número de tarefas concluídas versus o total de tarefas atribuídas em cada mês, facilitando o acompanhamento do desempenho mensal.</li>
      <li><b>Horas por Mês</b>: Informa o total de horas dedicadas a tarefas em cada mês, permitindo ao usuário avaliar o tempo investido no cumprimento das atividades.</li>
    </ul>
    <p>Esses dados são apresentados por meio de gráficos interativos que facilitam a interpretação visual e oferecem insights sobre a produtividade ao longo do tempo.</p>

    <hr>
  </section>
</section>
